/*aca le colocamos estilos al crear cuenta y boton atras y formulario registro*/
.signIn{
    width: 70%;

    >h3{
        margin-bottom: 20px;
        
    }
.actions {
        margin-top: 10px;
        text-align: center;
        
        

        
    }
    

}