$primary: #00aeff;
$primary-hover: #2f68d3;
$primary-search: rgb(255, 255, 255);

$text-primary: #fff;
$text-secondary: #909090;
$text-primary-search: #00aeff;


$border-primary: #3d3d3d;
$border-secondary: #1d1d1d;


$background-primary: #1b1b1b;
$background-secondary: #1d1d1d;
$background-tertiary: #0a0909;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #2378991c;

/*$background-degradado_blue:
background: rgb(39,205,244);
background: linear-gradient(0deg, rgba(39,205,244,0) 61%, rgba(6,122,251,1) 93%);*/

$success: #69af00;
$danger: #ff0a4e;   