@import "~/src/scss/index.scss";

.content {
    display: flex;
    align-items: center;

    >div{
        &:nth-child(1),
        &:nth-child(2){
            width: 50%;
            margin: 0px 20px 0px 0px!important;

        }

        &:last-of-type{
            margin-left: 15px !important;
        }

    }


}
.edit{

    display: flex;
    left: 0;
    bottom: 9px;
    position: relative;
    color: aquamarine;
    }

.setHeader{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    left: 0;
    bottom: 10px;
    color: $text-primary !important;
    font-size: 14p;

    >div{
        color: $text-secondary !important;
    }
    
}

